@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

body {
  margin: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Override Tailwind Forms plugin focus styles for Material-UI components */
.MuiInputBase-input:focus {
  outline: none !important;
  box-shadow: none !important;
}

.MuiFormControl-root .MuiInputLabel-root {
  z-index: 1 !important;
  background-color: white !important;
  padding: 0 4px !important;
}
